/* Global rules */

@import url('https://fonts.googleapis.com/css?family=Quicksand');

html {
    background-color: #b1a6a4;
    font-family: 'Cormorant', serif;
    font-size: 0.95em;
    line-height: 1.5em;
}

::selection {
    color: #000; 
    background: #ff0;
}


.logo {
    text-align: center;
    font-family:'Cormorant' serif;
    font-weight: bold;
    margin: auto;
    background: #f2f1ef;
    line-height: 2.5em;
    
       
}

main.wrapper {
    background-color:#f2f1ef;
    overflow: auto;
    font-weight: 650;
}

p {
    margin: 1em; /* Top Right Bottom Left (TRBL) */
}

h2,h3 {
    font-weight: bold;
    margin-left: 1em;
    line-height: 1em;
}

a {
    color:#b1a6a4;
    text-decoration: none;
}
hr{
    color: #d8cdd0;
}

a:hover {
    color: rgb(171, 164, 164);
    background-color: #b1a6a4;
    text-decoration: none;
}

footer {
    clear: both;
    text-align: center;
    padding: 1em;
}


/* Responsive rules */

/* DESKTOP */
@media all and (min-width:1200px) {
    main.wrapper {
        width: 80%;
        margin: auto;
    }
    
    h1 {
        width: 79%;
        padding-left: 1%;
    }
    
    picture.profile img {
        width: 40%;
        float: left;
        margin-right: 2em;
    }
    
}

/* TABLET */
@media all and (min-width:501px) and (max-width:1199px) {
    main.wrapper {
        width: 90%;
        margin: auto;
    }
    
    h1 {
        width: 89%;
        padding-left: 1%;
    }
    
    picture.profile img {
        width: 50%;
        float: right;
        margin-left: 1em;
    }

}

/* PHONE */
@media all and (max-width:500px) {
    main.wrapper {
        width: 100%;
    }
    
    h1 {
        width: 99%;
        padding-left: 1%;
    }
    
    picture.profile img {
        width: 100%;
    }
    
}